<ol class="post-list">
    {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post_contents}}" target="_blank">{{title}}</a>
        <span>({{post_contents}})</span>
      </div>
      <div class="meta">
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
   {{/each}}
</ol>

